body {
    background: #ccccff;
    font-family: "Helvetica Neue", sans-serif;
}
#login {
    background: white;
    border-radius: 1em;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.25);

    margin: 3em;
    overflow: hidden;
}
#info {
    font-size: small;
    color: #333;
    background: #eee;
    padding: 1ex 1em;
    border-top: solid #ccc 1px;
}
h1 {
    background: #ffc;
    margin: 0 0 1ex;
    padding: 1ex 1em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
form, #notify {
    display: inline-block;
    font-size: large;
    margin: 1em 1em 2em;
}
input[type="url"] {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: light;
    font-size: large;
}
.handlers button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #500;
    font-size: small;
    cursor: pointer;
    font-family: "Helvetica Neue", sans-serif;
}
.description {
    font-style: italic;
    color: #555;
}
a:link {
    color: #500;
}
.description a:link {
    color: #944;
}
.flashes {
    color: #700;
    list-style-type: none;
    font-size: small;
    margin: 0;
    padding: 0;
}
.flashes li {
    margin: 0;
    padding: 0;
    display: inline;
}
.flashes li + li::before {
    content: ' | ';
}

#powered {
    font-size: x-small;
    background: #ddd;
}
#powered p {
    margin: 0 1em;
    padding: 0;
}

#uri-type {
    display: block;
    font-size: small;
    font-style: italic;
    position: absolute;
    z-index: 5;
    text-shadow:  1px  0px 0px white,
                 -1px  0px 0px white,
                  0px  1px 0px white,
                  0px -1px 0px white;
}

#uri-type.resolved {
    color: #060;
}

#uri-type.error {
    color: #900;
}

#uri-type span {
    font-weight: bold;
}

#uri-type.pending:before {
    position: absolute;
    display: inline-block;
    content: '❉';
    font-style: normal;
    font-size: 120%;
    vertical-align: top;
    color: white;
    text-shadow: 1px  0px 0px rgba(0,0,0,0.5),
                -1px  0px 0px rgba(0,0,0,0.5),
                 0px  1px 0px rgba(0,0,0,0.5),
                 0px -1px 0px rgba(0,0,0,0.5);
    z-index: -3;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

