body {
    background: #ccf;
    font-family: "Helvetica Neue", sans-serif;
}
#login {
    background: white;
    border-radius: 1em;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.25);

    margin: 3em;
    overflow: hidden;
}
#info {
    font-size: small;
    color: #333;
    background: #eee;
    padding: 1ex 1em;
    border-top: solid #ccc 1px;
}
h1 {
    background: #ffc;
    margin: 0 0 1ex;
    padding: 1ex 1em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
form, #notify {
    display: inline-block;
    font-size: large;
    margin: 0.5em 1em 2em;
}
input[type="url"] {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: light;
    font-size: large;
}
.description {
    font-style: italic;
    color: #555;
}
a:link {
    color: #500;
}
.description a:link {
    color: #944;
}
.error {
    color: #700;
    font-size: small;
    margin: 0;
    padding: 0;
}

#powered {
    font-size: x-small;
    background: #ddd;
}
#powered p {
    margin: 0 1em;
    padding: 0;
}

#uri-type {
    background: #eee;
    color: #555;
    font-size: large;
    text-shadow:  1px  0px 0px white,
                 -1px  0px 0px white,
                  0px  1px 0px white,
                  0px -1px 0px white;
    position: relative;
    font-weight: bold;
    border-radius: 0.5ex;
    border: solid rgba(0,0,0,0.5) 1px;
    padding: 4px;
    animation: progress 3s linear infinite;
}

#uri-type.resolved {
    background: #cfc;
    color: #060;
}

#uri-type.error {
    color: #900;
    background-color: #ff0;
    text-shadow: none;
}

#uri-type.pending {
    color: black;
    background: repeating-linear-gradient(-45deg, white, white 1ex, #ccf 1ex, #ccf 2ex);
}

#uri-type.maybe {
    color: #307;
    background: #edf
}

#uri-type:disabled {
    opacity: 50%;
}

@keyframes progress {
  0% { background-position: 0 0; }
  100% { background-position: 14.14ex 0; }
}

.buttons {
    margin-bottom: 0.2em;
    font-size: 175%;
}

.buttons a {
    text-decoration: none;
}

.buttons svg, .buttons img {
    height: 1em;
    width: auto;
    vertical-align: middle;
    margin-right: 0.1em;
    filter: grayscale(40%);
    opacity: 90%;
    transition: filter 0.2s, opacity 0.2s;
}

.buttons svg:hover, .buttons img:hover {
    opacity: 100%;
    filter: none;
}