<!DOCTYPE html>
<html>

<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{stylesheet}}">

<script>
function setUrl(url, repltext) {
    repltext = repltext || 'username';
    var index = url.indexOf('%');
    url = url.replace('%', repltext);

    var profile_url = document.getElementById('me');
    profile_url.value = url;
    profile_url.focus();
    if (index >= 0) {
        profile_url.setSelectionRange(index, index + repltext.length);
    }
}

//{% if test_url %}
var test_timeout = null;
function testUri() {
    var uri = document.getElementById('me').value;
    var label = document.getElementById('uri-type');

    if (test_timeout !== null) {
        clearTimeout(test_timeout);
        test_timeout = null;
    }

    if (uri == '') {
        label.innerHTML = '';
        return;
    }

    label.className = "pending";
    label.innerHTML = "";
    test_timeout = setTimeout(function() {
        fetch("{{test_url}}?url=" + encodeURIComponent(uri)).then(function(response) {
            if (response.status !== 200) {
                label.className = "error";
                label.innerHTML = "Got error " + response.status + " checking the URL";
                return;
            }

            response.json().then(function(data) {
                if (data) {
                    label.className = "resolved";
                    label.innerHTML = "Will log in using <span>" + data.name + "</span>";
                } else {
                    label.className = "error";
                    label.innerHTML = "Unknown login type";
                }
            });

        });
    }, 250);

}
//{% endif %}
</script>
</head>

<body>
    <div id="login">
        <h1>Identify Yourself</h1>
        <form method="POST" action="{{login_url}}" novalidate>
            <input id="me" type="url" name="me" size="30" placeholder="Your ID here" oninput="testUri()" autofocus>
            <button>Go!</button>
            <label for="me" id="uri-type"></label>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>

        <div id="info">
            <p>This form allows you to log in using your existing identity from another website or
                provider. The following sources are supported:</p>
            <ul class="handlers">
                {% for handler in auth.handlers %}
                <li><button onclick="setUrl('{{ handler.url_schemes[0][0] }}',
                                            '{{ handler.url_schemes[0][1] }}')">{{
                        handler.service_name }}</button>
                    &mdash; <span class="description">{{handler.description|safe}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div id="powered">
            <p>Powered by <a href="https://github.com/PlaidWeb/Authl">Authl</a></p>
        </div>
    </div>
</body>
</html>