<!DOCTYPE html>
<html>

<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{stylesheet}}">

<script>
function setUrl(url, repltext) {
    repltext = repltext || 'username';
    var index = url.indexOf('%');
    url = url.replace('%', repltext);

    var profile_url = document.getElementById('me');
    profile_url.value = url;
    profile_url.focus();
    if (index >= 0) {
        profile_url.setSelectionRange(index, index + repltext.length);
    }

    var label = document.getElementById('uri-type');
    label.disabled = true;
    label.className = "";
    label.innerHTML = "Go!";
}

var pending = null;
async function testUri() {
    var uri = document.getElementById('me').value;
    var label = document.getElementById('uri-type');

    /*{% if test_url %} URI tester is enabled */
    if (pending !== null) {
        // We have a pending delay; cancel it
        pending(false);
    }

    if (!uri) {
        label.disabled = true;
        label.className = "";
        label.innerHTML = "Go!";
        return;
    }

    label.className = "pending";
    label.innerHTML = "Checking…";
    label.disabled = false;

    delay = await new Promise(resolve => {
        pending = resolve;
        setTimeout(() => resolve(true), 250);
    });

    if (!delay) {
        return;
    }

    response = await fetch("{{test_url}}?url=" + encodeURIComponent(uri));
    if (response.status !== 200) {
        label.className = "error";
        label.innerHTML = "Got error " + response.status + " checking the URL";
        return;
    }

    data = await response.json();
    console.debug("tester response", data);
    if (data) {
        label.className = "resolved";
        label.innerHTML = data.name;
    } else {
        label.className = "error";
        label.innerHTML = "Unknown login method";
    }

    /*{% else %} URI tester is disabled */
    label.className = "";
    label.innerHTML = "Go!";
    /*{% endif %}*/
}

window.addEventListener('DOMContentLoaded', () => {
    /*{% if request.args.fill %}*/testUri();/*{% endif %}*/
    document.getElementById('me').addEventListener('input', testUri);
    [].forEach.call(document.getElementById('handlers').getElementsByClassName("handler"),
        link => link.addEventListener('click', e => {
            setUrl(link.getAttribute('data-url'), link.getAttribute('data-repl'));
            e.preventDefault();
        }));
});
</script>
</head>

<body>
    <div id="login">
        <h1>Identify Yourself</h1>
        <form method="POST" action="{{login_url}}" novalidate>
            <input id="me" type="url" name="me" size="40" placeholder="Your ID here" value="{{request.args.fill}}" autofocus>
            <button id="uri-type">Go!</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>

        <div id="info">
            <p>This form allows you to log in using your existing identity from another website or
                provider. The following sources are supported:</p>
            <ul class="handlers" id="handlers">
                {% for handler in auth.handlers %}
                {% for url,filler in handler.url_schemes[:1] %}
                <li><a class="handler" href="?fill={{url.replace('%',filler)|urlencode}}"
                    data-url="{{url}}"
                    data-repl="{{filler}}">{{handler.service_name}}</a>
                    &mdash; <span class="description">{{handler.description|safe}}</span>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>

        <div id="powered">
            <p>Powered by <a href="https://github.com/PlaidWeb/Authl">Authl</a></p>
        </div>
    </div>
</body>
</html>